# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native Android
android/
!android/app/src/main/res/values/strings.xml  # <- si modificas textos manualmente
.gradle/
build/
*.apk
*.keystore
*.jks
debug.keystore
my-release-key.keystore

# iOS (por si agregas en el futuro)
ios/
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.xcuserdata
Pods/

# Kotlin / Gradle
.kotlin/
*.orig.*
gradlew
gradlew.bat
gradle/
build.gradle
settings.gradle

# Certificates & keys
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# Examples
app-example

# EAS
.easlbuild/
